@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Lora';
}

p {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Poppins';
}